@import './../App.scss';

.master-container {
  padding:20px;
}

// .logo {
//   @include logo-font;
// }

.main-container {
  flex: 1;
  margin:20px;
  background-color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(12, 15, 210, 0.5);
	border-radius: 8px;
}

.container {
  flex: 1;
  margin:20px;
}

.ant-space {
  display: flex;
}

.chat {
  height: 450px;
}

.drawArea {
  height: 550px;
  cursor: crosshair;
}