$yellow-main: #DDFF10;
$orange-main: #FC7745;
$red-main: #EF094E;
$blue-main: #34BFF7;
$green-main: #59DD4D;
$cian-main: #40D5FD;

$gray-light: #F0F0F0;

$primary-btn-color: #0C0FD2;
$chat-blue: #34BFF7;
$chat-green: #59DD4D;
$chat-gray: #CBCCCE;